.home-page-wrapper {
    height: auto;
}

.home-page-content {
    margin: 110px 0 50px;
    width: 100%;
}

.home-page-content .foursquare-message {
    color: var(--main-light);
    font-size: 20px;
    margin-bottom: 10px;
}

.lists-wrapper {
    padding: 0 100px;
}
