nav {
    display: flex;
    position: absolute;
    left: 50px;
    right: 50px;
    background: rgba(255, 255, 255, 0.2);
    height: 60px;
    min-width: 550px;
    border-radius: 3px;
    margin-top: 30px;
    color: var(--main-light);
    font-size: 20px;
    letter-spacing: 0.05rem;
}

.nav-highlight {
    display: grid;
    align-items: center;
    background-color: var(--main-light);
    border-radius: 3px;
    padding: 0 15px;
    cursor: pointer;
}

.nav-highlight .logo {
    height: 40px;
    width: auto;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
}

.nav-links a {
    text-decoration: none;
    color: inherit;
    padding: 0 10px;
}

.nav-links a:hover {
    color: var(--main-green);
}
