/* adapted from https://codepen.io/faaezahmd/full/dJeRex */
.responsive-table li {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 3px;
    padding: 25px 50px;
    margin-bottom: 15px;
    color: var(--main-dark);
    font-size: 16px;
}

.responsive-table .table-header {
    background-color: var(--main-highlight);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    position: relative;
}

.table-header-icon {
    padding: 0 20px;
    font-size: 18px;
    cursor: pointer;
}

.table-header-icon:hover {
    color: var(--main-green);
}

.table-header .tooltip {
    display: none;
    background-color: var(--main-green);
    color: var(--main-light);
    padding: 10px;
    border-radius: 3px;
    letter-spacing: 0.05em;
    text-transform: initial;
    position: absolute;
    top: 7px;
    left: 130px;
    max-width: 115px;
    z-index: 5;
}

.table-header-icon:hover ~ .tooltip {
    display: block;
}

.responsive-table .table-row {
    background-color: var(--main-light);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.responsive-table .table-row-disabled {
    background-color: var(--light-gray);
    box-shadow: none;
}

.responsive-table .col {
    position: relative;
}

.responsive-table .col-with-icon {
    display: flex;
}

.responsive-table .col-3,
.responsive-table .col-4 {
    justify-self: center;
}

@media all and (max-width: 900px) {
    .responsive-table .table-header {
        display: flex;
        justify-content: space-between;
    }
    .responsive-table .table-header .col {
        display: none;
    }
    .responsive-table .table-header-icon {
        margin-left: auto;
    }
    .responsive-table li {
        display: block;
    }
    .responsive-table .col {
        display: flex;
        padding: 10px 0;
    }
    .responsive-table .col:before {
        color: var(--dark-gray);
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
    .responsive-table .editable-cell {
        position: relative;
        margin-bottom: -15px;
    }
}
