.list-page-wrapper {
    justify-items: initial;
}

.list-container-wrapper {
    --list-container-height: 500px;
    margin: 0 50px 10px;
    padding-left: 15px;
    min-width: var(--navbar-min-width);
    height: var(--list-container-height);
    color: var(--main-dark);
}

.list-container-wrapper .list-name {
    font-weight: 300;
    margin-bottom: 15px;
}

.list-container {
    display: grid;
    grid-template-columns: 2.5fr 3fr;
    gap: 15px;
}

.list-header {
    display: flex;
    align-items: baseline;
}

.list-header svg {
    font-size: 20px;
    padding: 0 10px;
    cursor: pointer;
}
