.list-page-wrapper {
    justify-items: initial;
}

.list-container-wrapper {
    --list-container-height: 500px;
    margin-bottom: 10px;
    padding-left: 15px;
    min-width: var(--navbar-min-width);
    height: 500px;
    color: var(--main-dark);
}

.list-container-wrapper .list-name {
    font-weight: 300;
    margin-bottom: 15px;
}

.list-container {
    display: grid;
    grid-template-columns: 2.5fr 3fr;
    gap: 15px;
}

.list-header {
    display: flex;
    align-items: baseline;
}

.list-header .list-refresh {
    margin-left: auto;
    padding: 0;
}

.list-header svg {
    font-size: 20px;
    padding: 0 10px;
    cursor: pointer;
}

@media (max-width: 900px) {
    .list-container-wrapper {
        --list-container-height: 255px;
        padding-right: 10px;
        height: auto;
    }
    .list-container {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
    }
    .list-container-wrapper .list-name {
        margin-bottom: 5px;
    }
    .venues-list-container {
        height: var(--list-container-height);
    }
    .venues-list {
        height: var(--list-container-height);
    }
    .venues-map {
        height: 200px;
        margin-left: 5px;
        margin-right: 10px;
        border-radius: 3px;
        overflow: hidden;
    }
    .list-header {
        margin-right: 15px;
    }
}
