.form-input-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    height: 100px;
}

.form-input-wrapper label {
    color: var(--main-dark);
    font-size: 18px;
    margin-bottom: 5px;
    letter-spacing: 0.05em;
}

.form-input-wrapper input {
    background: #ffffff;
    color: var(--main-dark);
    text-indent: 5px;
    box-sizing: border-box;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    padding: 10px;
    width: 300px;
    height: 45px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    max-height: 60px;
    outline: none;
    transition: all 0.2s ease;
}

.form-input-wrapper input:disabled {
    background: var(--light-gray);
    color: var(--dark-gray);
    box-shadow: none;
}

.input-error {
    color: var(--error);
    font-size: 16px;
    letter-spacing: 0.05em;
    margin-top: 5px;
}
