.login-wrapper {
    display: grid;
    grid-template-rows: 3fr 5fr 2fr;
    justify-items: center;
    align-items: center;
}

.login-wrapper .heading {
    color: var(--main-light);
    font-size: 4em;
    font-family: 'black-burger';
}

.login-wrapper .logo {
    height: 300px;
    width: auto;
}

.redirect-btn {
  background: var(--main-light);
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  color: var(--main-green);
  display: inline-block;
  padding: 20px 40px;
  border: 4px solid var(--main-dark);
  border-radius: 5px;
  box-shadow: 4px 4px var(--main-light);
  outline: none;
  transition: all .2s ease;
}

.redirect-btn:hover {
    background: var(--main-highlight);
    color: var(--main-dark);
}

.redirect-btn:active {
    box-shadow: 2px 2px var(--main-light);
    transform: translateY(4px);
}

.redirect-btn a {
    text-decoration: none;
    color: inherit;
}