.fsq-login-wrapper {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.fsq-form-wrapper {
    width: 300px;
    height: 300px;
}

.fsq-btn {
    font-size: 1.4rem;
    display: inline-block;
    padding: 15px;
    width: 350px;
}
