.user-info-wrapper {
    justify-items: initial;
    margin: 0 50px 30px;
    min-width: var(--navbar-min-width);
}

.user-info-form-wrapper {
    padding: 30px 150px;
    height: 500px;
}

@media only screen and (max-width: 1200px) {
    .user-info-form-wrapper {
        padding: 30px 100px;
        gap: 0;
    }
}
