.editable-cell {
    background-color: transparent;
    position: absolute;
    top: -8px;
    left: -5px;
    padding: 5px 10px;
    outline: none;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid var(--dark-gray);
}

.editable-cell:focus {
    border-color: var(--main-green);
}

.editable-cell::placeholder {
    color: var(--dark-gray);
}
