.fancy-btn {
    background: var(--main-green);
    color: var(--main-light);
    font-weight: 700;
    letter-spacing: 0.1em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all 0.2s ease;
    align-self: center;
    font-size: 1.2rem;
    display: inline-block;
    padding: 10px;
    width: 300px;
    height: 50px;
}

.fancy-btn:hover {
    background: var(--main-highlight);
    color: var(--main-dark);
}

.fancy-btn:active {
    box-shadow: 2px 2px var(--main-highlight);
    transform: translateY(4px);
}
