.fancy-btn {
    background-color: var(--main-light);
    color: var(--main-dark);
    letter-spacing: 0.05em;
    border-radius: 3px;
    border: 3px solid var(--main-green);
    outline: none;
    transition: all 0.2s ease;
    align-self: center;
    font-size: 20px;
    display: inline-block;
}

.fancy-btn-normal {
    padding: 10px;
    width: 300px;
    height: 50px;
}

.fancy-btn-small {
    width: 200px;
    height: 40px;
}

.fancy-btn:hover, .fancy-btn:focus {
    background-color: var(--main-green);
    color: var(--main-light);
}

.fancy-btn:active {
    box-shadow: 2px 2px var(--light-green);
    transform: translateY(4px);
}
