.venues-list-container {
    position: relative;
}

.venues-list {
    height: calc(var(--list-container-height) - 50px);
    overflow-y: scroll;
}

.venues-list .list-item-wrapper {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    margin: 5px auto 15px 5px;
    min-width: 300px;
    margin-right: 10px;
    border-radius: 3px;
}

.venues-list .list-item {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-light);
    padding: 15px;
    cursor: pointer;
}

.venues-list .list-item a {
    margin-top: 0;
}

.venues-list .list-item-error {
    display: flex;
    border: 3px solid var(--error);
    padding: 15px;
}

.venues-list .list-item-loading {
    display: flex;
    border: 3px solid var(--main-green);
    padding: 15px;
}

.venues-list .list-item.is-active {
    border: 3px solid var(--main-green);
    padding: 12px;
    border-bottom: 0;
    font-weight: bold;
    cursor: initial;
}

.venues-list .list-item-details,
.venues-list .list-item-edit {
    border: 3px solid var(--main-green);
    padding: 12px;
    min-height: 100px;
    border-top: 0;
}

.venues-list .list-item-details ul {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.venues-list .list-item-details li {
    padding: 5px 0;
    margin-bottom: 10px;
}

.venues-list .list-item-details li:before {
    color: var(--dark-gray);
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
}

.venues-list .list-item-details a {
    font-size: initial;
    letter-spacing: initial;
}

/* icons with tooltip */
.venues-list .list-item-tags {
    display: flex;
    align-self: center;
}

.venues-list .list-item-icon-container {
    position: relative;
}

.venues-list .list-item-icon {
    padding: 0 3px;
    font-size: 20px;
    cursor: pointer;
}

.venues-list .list-item-icon:hover + .tooltip {
    display: block;
}

.venues-list .list-item-wrapper:last-child .list-item-icon:hover ~ .tooltip {
    top: auto !important;
    bottom: -10px !important;
}

.venues-list .list-item-icon.positive {
    color: var(--main-green);
}

.venues-list .list-item-icon.negative {
    color: var(--main-dark);
}

/* editing actions icons */
.venues-list .list-item-start-edit,
.venues-list .list-item-stop-edit {
    color: var(--main-dark);
    margin-right: auto;
    cursor: pointer;
}

.venues-list .list-item-start-edit {
    font-size: 16px;
    margin-left: 15px;
}

.venues-list .list-item-stop-edit {
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
}

.venues-list .list-item-start-edit:hover,
.venues-list .list-item-stop-edit .save:hover {
    color: var(--main-green);
}

.venues-list .list-item-stop-edit .cancel:hover {
    color: var(--error);
}

.venues-list .list-item-stop-edit .cancel {
    padding: 0 20px;
}

/* editing view */
.venues-list .list-item-edit .form-input-wrapper {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
}

.venues-list .list-item-edit label {
    font-size: 16px;
    color: var(--dark-gray);
}

.venues-list .list-item-edit label.warning {
    color: var(--error);
}

.venues-list .list-item-edit input {
    height: 30px;
    width: 150px;
    font-size: 16px;
}

.venues-list .list-item-edit input[type='checkbox'] {
    height: 18px;
    width: auto;
    color: var(--main-green);
}
