.card-wrapper {
    background-color: var(--main-light);
    display: flex;
    flex-direction: column;
    padding: 15px 50px 20px;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.card-wrapper a {
    color: var(--main-dark);
    letter-spacing: 0.05rem;
    text-align: center;
    font-size: 17px;
    margin-top: 15px;
    text-decoration: none;
}

.card-wrapper a:hover {
    text-decoration: underline;
}
