.user-info-content {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
}

.user-info-form {
    display: grid;
    gap: 10px;
    justify-items: start;
}

.user-info-placeholder {
    align-self: end;
}

.user-info-placeholder img {
    height: 350px;
    width: auto;
}

.user-info-header {
    margin-bottom: 20px;
}

.user-info-header .username {
    color: var(--main-dark);
    font-size: 2.5em;
    font-weight: 300;
}

.user-info-header .foursquare-status {
    display: flex;
    align-items: center;
    height: 35px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: var(--main-green);
}

.user-info-header .foursquare-status .fi-check::before {
    content: '☑︎';
    font-style: normal;
}

.user-info-actions {
    margin-top: 10px;
}

.user-info-editing-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.user-info-editing-btn {
    width: 145px;
}

.cancel-btn {
    background-color: var(--light-gray);
    border: none;
    color: var(--main-dark);
}

@media only screen and (max-width: 1200px) {
    .user-info-placeholder img {
        height: 300px;
        width: auto;
    }
}

@media only screen and (max-width: 1000px) {
    .user-info-content {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .user-info-placeholder img {
        display: none;
    }
}
