:root {
    --main-green: #19a186;
    --light-green: #5ebdaa;
    --main-light: #f5f5f5;
    --secondary-light: #e8e4e6;
    --main-dark: #001e1d;
    --highlight: #a786df;
    --light-gray: #d3d3d3;
    --dark-gray: #939393;
    --error: #cc0000;
    --secondary-error: #ffcccc;
    --navbar-min-width: 250px;
    --default-side-margin: 50px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--main-light);
    background-image: url('images/vegan-food-small.jpg');
    background-size: cover;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px auto;
    box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {
    body {
        background-size: initial;
    }
}

button {
    cursor: pointer;
}

.page-wrapper {
    display: grid;
    justify-items: center;
    align-items: center;
}

ol,
ul {
    list-style: none;
}

@media (max-width: 550px) {
    :root {
        --default-side-margin: 10px;
    }
    #root {
        overflow-x: hidden;
        height: max-content;
    }
}
