:root {
  --main-green: #00473e;
  --main-light: #f2f7f5;
  --main-text: #abd1c6;
}

@font-face {
  font-family: 'black-burger';
  src: url('./fonts/black-burger/black-burger.rough-webfont.woff2') format('woff2'),
       url('./fonts/black-burger/black-burger.rough-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-green);
}

button {
  cursor: pointer;
}
