.tooltip {
    display: none;
    background-color: var(--main-light);
    color: var(--main-dark);
    font-weight: normal;
    padding: 10px;
    border-radius: 3px;
    letter-spacing: 0.05em;
    text-transform: initial;
    position: absolute;
    width: 115px;
    z-index: 5;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
